<section class="features-wrapper" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase">
                <h5 class="feature-title mb-3">core features</h5>
                <h1 class="features-heading">focus features</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row feature-info">
            <div class="col-lg-4 text-center feature-img">
                <div class="feature-data">
                    <h2 class="feature-number mb-3">650+</h2>
                    <h5 class="feature-text text-uppercase mb-4">Publisher</h5>
                    <div class="horizontal"></div>

                    <h2 class="feature-number mb-3">100%</h2>
                    <h5 class="feature-text text-uppercase mb-4">no contracts</h5>
                    <div class="horizontal"></div>

                    <h2 class="feature-number mb-3">100%</h2>
                    <h5 class="feature-text text-uppercase mb-4">happy clients</h5>
                    <div class="horizontal"></div>

                    <h2 class="feature-number mb-3">3000+</h2>
                    <h5 class="feature-text text-uppercase mb-4">article published</h5>
                    <div class="horizontal"></div>
                </div>
            </div>
            <div class="col-lg-8 text-center">
                <div class="feature-rank">
                    <i class="fa-solid fa-magnifying-glass fa-2x mb-3"></i>
                    <h6 class="rank-title text-uppercase">boost your ranking within search engines</h6>
                    <p class="rank-text">Increase the flow of traffic to your brand by increasing your brand's visibility 
                        within the Google search engine. Having your name at the top of the search results helps get your 
                        name out there.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 brands">
                    <div class="brands-data">
                        <img src="../assets/images/strategy.png" alt="" class="img-fluid mb-3">
                        <h6 class="rank-title text-uppercase fw-bold">increase your brand authority</h6>
                        <p class="rank-text">Having your name out there in multiple publications helps create a doubtless 
                            authority for your brand. Increase the meaning that comes with your name.
                        </p>
                    </div>
                    </div>
                    <div class="col-lg-4 brands data">
                        <div class="brands-data">
                            <img src="../assets/images/design.png" alt="" class="img-fluid mb-3">
                            <h6 class="rank-title text-uppercase fw-bold">increase your brand authority</h6>
                            <p class="rank-text">Having your name out there in multiple publications helps create a doubtless 
                                authority for your brand. Increase the meaning that comes with your name.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sub-contact></sub-contact>
</section>