<section class="about-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="about-heading">what we do</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row media-wrapper">
            <div class="col-lg-4 col-md-6">
                <img src="../assets/images/web.png" alt="" class="img-fluid mb-4">
                <h4 class="media-title">media placement</h4>
                <p class="media-text">
                    We have the formula to increase your visibility so your audience comes to you.
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="../assets/images/pc.png" alt="" class="img-fluid mb-4">
                <h4 class="media-title">social media management</h4>
                <p class="media-text">
                    Gain visibility on all your platforms and enjoy the following that comes with it.
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="../assets/images/security.png" alt="" class="img-fluid mb-4">
                <h4 class="media-title">reputation management</h4>
                <p class="media-text">
                    When it comes to your image, we leave nothing to chance.
                </p>
            </div>
        </div>
    </div>

    <app-brand></app-brand>
    <brand-publisher></brand-publisher>
    <ceo-story></ceo-story>
</section>