<section class="questionire " id="faq">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="question_subtitle">We're here to help</h6>
                <div class="question_title">Frequently asked question</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 align-items-center mb-5 mb-lg-0">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          1. Why should I consider using a guest posting service?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            A guest posting service offers expertise in identifying high-quality websites for guest posts, 
                            crafting compelling content, adhering to guidelines, and managing the outreach process.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          2.  Can I provide topics for the guest posts, or will you suggest them?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            You can definitely provide topics or keywords you'd like us to target. We can also suggest topics 
                            based on our research and understanding of your industry, ensuring the content resonates with 
                            the audience of the target website.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          3. How do you ensure the quality of the content?
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Our team of experienced writers creates high-quality, original, and well-researched content. 
                            Before publication, the content goes through a thorough editorial review to ensure it meets 
                            the host site's guidelines and provides value to readers.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            4. Will the guest posts include links to my website?
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            Yes, the guest posts will include strategically placed contextual links to your website. 
                            These links not only drive traffic but also contribute to improving your website's SEO by 
                            building relevant backlinks.
                          </div>
                        </div>
                      </div>
                  </div>
            </div>

            <div class="col-lg-4">
                <img src="../assets/images/faq.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <app-consultation></app-consultation>
</section>