.questionire{
    padding: 100px 0;
}

.questionire .question_subtitle{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--text-font);
    line-height: 1.5;
    color: var(--primary-color);
}

.questionire .question_title{
    font-size: 35px;
    font-weight: 800;
    font-family: var(--text-font);
    line-height: 1.5;
    margin-bottom: 80px;
    color: var(--text-black);
}
.questionire .accordion-button:hover,
.questionire .accordion-button:focus{
    box-shadow: none;
    color: var(--primary-color);
}

.questionire .accordion-item{
    border: 0;
}

.questionire .accordion-button{
    font-size: 18px;
    font-family: var(--text-font);
    font-weight: 600;
    color: var(--text-black);
    background: var(--bg-white);
    border-radius: 0;
    padding: 0 0 15px 0;
    border-bottom: 0px solid var(--text-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.questionire .accordion-button::after{
    content: '\002B';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    background-image: none;
}

.questionire .accordion-button:not(.collapsed):after{
    content: '\2212';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: inline-block;
    background-image: none;
    transform: unset;
}

.questionire .accordion-body{
    font-size: 16px;
    font-weight: 600;
    font-family: var(--text-font);
    margin: 0 0 20px 0;
    padding-bottom: 25px;
    line-height: 1.5;
}