<section class="sub-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-lg-start text-center">
                <h6 class="sub-text text-uppercase">do you have a story you'd like to share?</h6>
                <h2 class="sub-title text-uppercase">brand awareness and publishing</h2>
            </div>
            <div class="col-lg-2 col-sm-6 contact-btn">
                <a href="#contact"><button class="btn-primary btn-home">CONTACT US</button></a>
            </div>
            <div class="col-lg-2 col-sm-6 d-flex justify-content-center pt-3 mail-us">
                <i class="fa-regular fa-envelope"></i>
                <p class="email">contact@bsmbacklinks.com</p>
            </div>
        </div>
    </div>
</section>