
<div class="container">
    <div class="row brand-wrapper">
        <div class="col-lg-6">
            <img src="../assets/images/brand-img.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-5 offset-lg-1 desc">
            <h5 class="brand-text">we love what we do</h5>
            <h2 class="brand-title">build your brand. <br> tell your story.</h2>
            <p class="brand-desc">
                Ascend is a marketing firm that focuses on publishing articles to build your brand and tell your story. 
                It starts with a conversation, a message, and ends with results.
            </p>
        </div>
    </div>
</div>

