<div class="ceo-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ceo">
                <div class="story-desc">
                    <h1 class="story-title mb-4">build your brand. tell <br> <span>your story.</span></h1>
                    <p class="story-text">
                        “This is a higher calling with immense benefits. In 2022, it is unlikely that there would be 
                        any successful PR campaign without a social impact plan or angle.”
                    </p>
                    <h5 class="ceo-title mb-5">Waqas Malik - founder & ceo</h5>
                    <h4 class="ceo-name">waqas malik</h4>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../assets/images/ceo-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="square"></div>
</div>