<div class="brand-publisher">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h4 class="publisher-title">trusted by top publisher</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row publisher">
            <div class="col-lg-2 col-md-4">
                <img src="../assets/images/brand-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-4">
                <img src="../assets/images/brand-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-4">
                <img src="../assets/images/brand-3.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-4">
                <img src="../assets/images/brand-4.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-4">
                <img src="../assets/images/brand-5.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-4">
                <img src="../assets/images/brand-6.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>