

<section class="home-wrapper" id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 main-content">
                <h3 class="title mb-3">BSM BackLinks</h3>
                <h1 class="main-title mb-5">
                    Building your <br> brand bt getting <br> yoy published.
                </h1>
                <a href="#contact"><button class="btn-primary btn-home">CONTACT US</button></a>
                <button class="btn-primary btn-home">VIEW OUR CAPABILTIES</button>
            </div>
            <div class="col-lg-6 col-md-12 home-image">
                <img src="../assets/images/home-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
